<div class="d-flex edit-form-container">

    <EditForm EditContext="@_editContext" OnValidSubmit="@OnFinishingEditClick" autocomplete="off">
        <DataAnnotationsValidator />

<div class="form-group">
            
        <GroupList 
        InitialGroup=@initialGroup 
        OnSelectedGroup=@OnFinishingSelectingGroup />
        <ValidationMessage For="@(() => ScheduleExamModel.GroupId)" />
        </div>

        <div class="form-group">
            <ExamList 
            InitialExam=@initialExamName 
            OnSelectedExam=@OnFinishingSelectingExam />
            <ValidationMessage For="@(() => ScheduleExamModel.ExamId)" />
        </div>

        <div class="form-row d-flex justify-content-around align-items-center mt-3">
            <button class="btn btn-success" type="submit">Ok</button>
            <button @onclick="OnCancelEditClick" class="btn btn-warning">Cancel</button>
        </div>

    </EditForm>

</div>