<div class="form-group">
    <label for="firstname">Schema de notare</label>
    <div class="form-row d-flex justify-content-around align-items-center mt-3">
        <select class="form-control" value="@InitialEvaluationScheme" @onchange="ReceiveNewEvaluationScheme">
            @foreach (var scheme in _evaluationSchemes)
            {
                <option value="@scheme.Id"> @scheme.Name </option>
            }
        </select>
    </div>
</div>