.main-table[b-8nfdzexhpc]{
    margin: 10px !important;
    width: 700px;
}

.material-icons[b-8nfdzexhpc]{
    cursor: pointer;
}

.commands-container[b-8nfdzexhpc]{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;;
}

.command-btn[b-8nfdzexhpc]{
    margin-right: 10px;
}