.main-table[b-yfufaiuhf9]{
    margin: 10px !important;
}

.material-icons[b-yfufaiuhf9]{
    cursor: pointer;
}

.commands-container[b-yfufaiuhf9]{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;;
}

.command-btn[b-yfufaiuhf9]{
    margin-right: 10px;
}