.edit-form-container[b-66oail3xyt]{
    margin-left: 10px;
}
.same-row[b-66oail3xyt]{
    display: inline-block;
}
 
 .evSchemeName[b-66oail3xyt]{
    width: 630px;
}
 .btn-warning[b-66oail3xyt]{
     margin-left: 1%;
 }
