@page "/home/subjects"
@layout Home
<PageTitle>Discipline de examen</PageTitle>
<div class="d-flex flex-row commands-container">
    <button @onclick="OnGoBackClick" class="btn btn-secondary command-btn">
        <div class="d-flex flex-row ">
            <span class="material-icons">arrow_back</span>
            <span>Inapoi</span>
        </div>
       
    </button>
    <button @onclick="OnAddNewSubjectClick" class="btn btn-success">
        <div class="d-flex flex-row ">
            <span class="material-icons">add</span>
            <span>Adauga disciplina</span>
        </div>
    
    </button>

    
</div>


    @if(_showEditForm)
    {
        <EditSubject
        SubjectModel=@_editSubject 
        OnEditFinished=@OnFinishingEditingSubject
        OnEditCanceled=@OnEditSubjectCanceled
        />
    }

 @if(_showDeleteModal)
    {
        <DeleteModal
        Text="disicplina"
        Id=@subjectId
        OnClose="@OnCloseDeleteModalClick"/>
    }

<div class="d-flex flex-row main-table">
<table class="table table-striped table-bordered ">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nume</th>
            <th scope="col">Descriere</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (_subjects != null)
            {
                foreach (var subject in _subjects)
                {
                    <tr>
                        <th scope="row">@subject.Id</th>
                        <td>@subject.Name</td>
                        <td>@subject.Description</td>
                        <td><span @onclick="() => OnEditSubjectClick(subject.Id)" class="material-icons">edit</span></td>
                        <td><span @onclick="() => OnDeleteSubjectClick(subject.Id)" class="material-icons">delete</span> </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
</div>
